    body{
        font-family: Roboto, Arial, sans-serif;
    }
    h1 {
        font-weight: 300;
        text-align:center;
        font-size:18;
    }
    h2 { 
        font-weight: 300;
        margin: 0 0 0 8px; 
        font-weight: bold;
        text-align:center;

    }
   
    a.button {
        background-color: #01050b;
        color: white;
        padding: 14px 8px;
        margin: 10px 2px;
        border: none;
        cursor: grab;
        width: 48%;
        text-decoration: none;
    }
      a.button:hover {
        opacity: 0.8;
      }
      img{
        width: 250px;
        height: 200px;
        padding-left: .5em;
      }
  
   
      
      
    