{{>header}}
<h1 align="center">
    Add New Product
</h1> 
<style>
    .table3{
        align:"center"
    }
    .table3 th, .table3 td{
        color: #9f3074
    }
    .button3 {
        background-color: #9f3074;
        color: white;
        padding: 8px 8px;
        margin: 2px 2px;
        border: none;
        cursor: pointer;
        width: 5%;
        text-decoration: none;
        border-radius: 5%;
    } 

</style>
<form method="get" action="insertProd">
    <table align=center class="table3">
<tr><td>
                    <b>
                        Product Name
                        </b></td><td><input type="text" name="prodName" size="80" required></td></tr>
        <tr><td><b>Category Id</b></td><td><input type="text" name="categoryId" size="80" required></td></tr>
        <tr><td><b>Product description</b></td><td><input type="text" name="prodDesc" size="80" required></td></tr>
        <tr><td><b>Product Price</b></td><td><input type="numbers" min="0" step="any" name="prodPrice" size="80" required></td></tr></table>
        <h2 align=center><button class="button3" type="submit"  value ="add" name="Submit" align=center style="height:35px;width=80px">Add</button></h2>

    </table>
</form>