<!DOCTYPE html>
<style>
    .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
</style>
{{>header}}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> </title>
    </head>
    <body>
        <h1 align="center"><strong>Welcome to getBrickedUp</strong></h1>
        <h2 align="center"><a href="/listprod">Begin Shopping</a></h2>
        <h2 align="center"><a href="/listorder">List All Orders</a></h2>
        <h2 align="center"><a href="/customer">Customer Info</a></h2>
        <h2 align="center"><a href="/admin">Administrators</a></h2>
       
    
    </body>
    <p align = "center">____________________________________________________________________________________________</p>
    <p align = "center"><strong>'getBrickedUp is revolutionizing building one brick at a time' </strong>- National institute of bricks</p>
    <div class="row" align = 'center'>
        <div class="column">
            <img src="img/stuBrick.jpeg">
            <img src="img/alrickBrick.jpeg">
            <img src="img/macBrick.jpeg">
            <img src="img/willBrick.jpeg">
        </div>
        </div>
    </div>
    <br>
</html>
