
<!DOCTYPE html>
<style>
    html, body {
    min-height: 100%; 
    justify-content: center;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    }
    body {

    background: linear-gradient(-45deg, #ee7752, #bd2323, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    }

    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }

    h1 {
    font-weight: 300;
    }
    h2 { 
    font-weight: 400;
    margin: 0 0 0 8px; 
    font-weight: bold;
    }
    .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(154, 216, 235, 0.5); 
    }
    .left-part, form {
    padding: 25px;
    }
    .left-part {
    text-align: center;
    }
    .fa-graduation-cap {
    font-size: 72px;
    }
    a.button {
      background-color: #4286f4;
      color: white;
      padding: 14px 8px;
      margin: 10px 2px;
      border: none;
      cursor: grab;
      width: 48%;
      text-decoration: none;
      }
      a.button:hover {
      opacity: 0.8;
      }
      input[type=text], input[type=password] {
      text-align:center;
      width: 500%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      h1 {
      text-align:center;
      font-size:18;
      }
      
    
      
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PosiTwit </title>
    </head>
    <body>
        <h1 align="center">Let's Get Bricked Up</h1>
        <h2 align="center"><a href="/login">Login</a></h2>
        <h2 align="center"><a href="/createAccount">Create Account</a></h2>
        <h2 align="center"><a href="/listprod">Begin Shopping</a></h2>
        <h2 align="center"><a href="/listorder">List All Orders</a></h2>
        <h2 align="center"><a href="/customer">Customer Info</a></h2>
        <h2 align="center"><a href="/admin">Administrators</a></h2>
        <h2 align="center"><a href="/logout">Log out</a></h2>
       
        {{#if username}}
            <h3 align="center">Signed in as: {{username}}</h3>
        {{/if}}
      </body>
    </html>
</html>
