
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GetBrickedUp</title>
        <link rel="stylesheet" href="code\public\style.css">
    </head>
    <body>
        <form align="center" action="/" class="decor">
          <div align="center" class="form-inner">
            <h1 align="center">Welcome to Get Bricked Up</h1>
            <a class= "button" href="/listprod">Begin Shopping</a>
            <a class= "button" href="/listorder">List All Orders</a>
          </div>
        </form>
      </body>
    </html>
</html>
