<!DOCTYPE html>
{{>header}}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> </title>
    </head>
    <body>
        <h1 align="center">Welcome to getBrickedUp</h1>
        <h2 align="center"><a href="/listprod">Begin Shopping</a></h2>
        <h2 align="center"><a href="/listorder">List All Orders</a></h2>
        <h2 align="center"><a href="/customer">Customer Info</a></h2>
        <h2 align="center"><a href="/admin">Administrators</a></h2>
       
    
      </body>
    </html>
</html>
