<style>
form { 
margin: 0 auto; 
width:200px;
height: 100px;
}
input {
  width: 100%;
}
input.submit{
    width:50%;
}
.remove{
        background-color: #01050b;
        color: white;
        padding: 2px 4px;
        margin: 2px 2px;
        border: none;
        width: 48%;
        text-decoration: none;
        cursor: pointer;

    }
</style>

<div style="margin:0 auto;text-align:center;display:inline" >

    <h1>Please Login to System</h1>

    {{#if loginMessage}}
        <p>{{loginMessage}}</p>
    {{/if}}

    <br>
    <form name="MyForm" method=post action="/validateLogin" display = "center">
            <font face="Arial, Helvetica, sans-serif" size="2">Username:</font>
            <input type="text" name="username" >
             
            <font face="Arial, Helvetica, sans-serif" size="2">Password:</font>
            <input type="password" name="password" >              
            <input class="remove" type="submit" name="Submit2" value="Log In">
    </form>
    <p align="center"><a href="/createAccount">Create Account</a></p>

</div>