<style>
form { 
margin: 0 auto; 
width:250px;
}
input {
  width: 100%;
}
input.submit{
    width:50%;
}
</style>

<div style="margin:0 auto;text-align:center;display:inline" >

    <h3>Please Login to System</h3>

    {{#if loginMessage}}
        <p>{{loginMessage}}</p>
    {{/if}}

    <br>
    <form name="MyForm" method=post action="/validateLogin" display = "center">
            <font face="Arial, Helvetica, sans-serif" size="2">Username:</font>
            <input type="text" name="username" >
             
            <font face="Arial, Helvetica, sans-serif" size="2">Password:</font>
            <input type="password" name="password" >              
        <input class="submit" type="submit" name="Submit2" value="Log In">
    </form>
    <h2 align="center"><a href="/createAccount">Create Account</a></h2>

</div>